# Ignorar node_modules
node_modules

# Ignorar archivos de entorno
.env
.env.example

# Ignorar git
.git
.gitignore
.gitattributes

# Ignorar IDE
.vscode
.idea

# Ignorar logs
*.log
logs/
npm-debug.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar docker-compose (EasyPanel no lo necesita)
docker-compose.yml
Dockerfile.dev

# Ignorar builds locales
dist
build
coverage
frondend/build
frondend/.dart_tool
frondend/android/.gradle
frondend/ios/Pods
